/* shared css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.defaultPadding{
    padding: 30px 10%;
}
body{
    font-family: "Open Sans", sans-serif;
}
.defaultColor{
    color: #181818
}
.defaultButton{
    background-color: #FD6E0A;
    color: aliceblue;
    height: 65px;
    width: 150px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}
.bgCommonColor{
    background-color: #FFF8F3;
}
.commonMargin{
    margin-top: 130px;
}
.commomHeadingcolor{
    color: #181818;
}
.commonParacolor{
    color: #757575;
}


/* header section started here */
.headerSection {
    background-image: url(../img/developer.png),url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    height: 797px;
    
}
.navSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}
.headerLogo{
    font-size: 45px;
    font-weight: 800;
}
.alpaColor{
    color: #FD6E0A;
}
.navigation{
    display: flex;
    justify-content: flex-end;
}
.navigation nav ul li {
    display: inline;
}
.navigation nav ul li a{
    text-decoration: none;
    margin: 0px 50px;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}
.hireMe{
    margin-right: 70px;
}
/* banner section */
.bannerTitle{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.bannerMain{
    font-size: 55px;
    font-weight: 800;
    color: #181818;
}
.bannerPara{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}
.downloadButton{
    width: 200px;
    height: 65px;
    background-color: #FD6E0A;
    color: aliceblue;
    font-size: 20px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    margin-right: 30px;
}
.dowSym{
    margin-right: 8px;
}
.contactButton{
    background-color: transparent;
    width: 160px;
    height: 65px;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 800;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
}
.contSym{
    margin-right: 10px;
}
.bannerDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 0px 152px;
    

}
.bannerContent{
    max-width: 580px;
}

.bannerImag{
    max-width: 585px;
    height: auto;
}
/* about section */

.aboutSection{
    border-radius: 10px;
    align-items: center;
    padding: 130px 150px;
    text-align: center;
}

.contactInfo{
    display: flex;
    justify-content: space-around;
}
.aboutTitle{
    font-size: 35px;
    font-weight: 700;
}
.aboutDes{
    font-size: 18px;
    font-weight: 400;
}
.infoDes{
    font-size: 20px;
    font-weight: 400;
}
.infoKnow{
    font-size: 20px;
    font-weight: 700;
}
/* card section */
.whatIdo{
    align-items: center;
    text-align: center;
    padding: 10px 140px;
    margin-bottom: 10px;
}
.whatTitle{
    font-size: 35px;
    font-weight: 700;
}
.wahtDes{
    font-size: 18px;
    font-weight: 400;
}
.cardMargin{
    margin-top: 35px;
}
.cardSection{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.cardChild{
    padding: 48px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0 rgb(0, 0, 0, 0.06);
}
/* summary section */

.summarySection{
    align-items: center;
    text-align: center;
   
}
/* eduExper */

.eduExper{
    display: flex;
    gap: 25px;
}
.eduExperTitle{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}
.eduDesgic{
    font-size: 25px;
    font-weight: 700;
    color: #474747;

}
.workDesgic{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}
.desgicDes{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
.eduExperDiv{
    padding-right: 113px;
}
.downloadCv{
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
/* footer */
footer{
    background-color: #FFF8F3;
    margin-top: 100px;
    
  
}

.footerContant{
    display: flex;
    gap: 120px;
    /* padding: 130px 230px; */
}
.footerTitle{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.footerDes{
    font-size: 17px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}
.footerChild{
    max-width: 50%;
}


.icon{
    margin-right: 25px;
}
footer input[type="text"]{
    height: 40px;
    font-size: 1.1em;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    margin: 0px 0px;
    margin-bottom: 25px;
    border: none;
}
footer input[type="email"]{
    height: 40px;
    font-size: 1.1em;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    margin: 0px 0px;
    margin-bottom: 25px;
    border: none;
}
footer textarea[type="message"]{
    font-size: 1.4em;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    margin: 0px 0px;
    margin-bottom: 25px;
    border: none;
}
